@font-face {
  src: url('fonts/Qatar2022Arabic-Heavy.ttf');
  font-family: 'Qatar2022Arabic-Heavy';
  font-style: normal;
}

:root{
  --main-radius:5px;
  --main-padding:5px;
  
}

body{
  background: #111;
}

.container{
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1fr 1fr 1fr;
  grid-template-areas: "nav nav nav"
  "main main main"
  "content1 content2 content3 "
  "footer footer footer";
  grid-gap: 0.2rem;
  font-family: 'Qatar2022Arabic-Heavy', sans-serif;
  font-weight: 800;
  font-size: 25px;
  color: #fff;
  text-align: center;
  
}

nav{
  
  grid-area: nav;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  color: #fff;
  
}

main{
  
  grid-area: main;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content1{
  
  grid-area: content1;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding)
}

#content2{
 
  grid-area: content2;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding)
}

#content3{
 color: #ff0000;
  grid-area: content3;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding)
}

footer{
  
  grid-area: footer;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding)
}

img {
  border-radius: 50%;
  width: 35%;
}

@media only screen and (max-width: 550px){
  
  .container{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "nav"
    "main"
    "content1"
    "content2"
    "content3"
    "footer";
  }
}
