@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Lalezar&family=Nova+Mono&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

*{
  padding: 0;
  margin: 0;
    background-color: #212121;
}

h1{
  color: #fff;
  font-family: 'Tajawal', sans-serif;
}

.paragraph {
  color: #fff;
  font-family: 'Tajawal', sans-serif;
}
